/*overflow-scroll-table-16/8/2016*/
.btn-success button.ui-button, .opc_btn a , .btn-danger button.ui-button {
    /* color: red; */
    width: 100% !important;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgb(255, 211, 40);
    background: #ffd328;
}
::-webkit-scrollbar-track {
    -webkbacit-box-shadow: inset 0 0 6px rgba(255, 255, 255);
    border-radius: 1px;
}
.ui-widget-header {
    background: #006792;
}
input#j_idt109\:reset {
    padding: 5px;
}
.ui-button {
    padding: 5px !important;
}
td btn-lg {
    width: 100% !important;
    padding: 5px 0 !important;
    margin: 0 !important;
    border-radius: 6px;
    color: #fff;
    font-family: 'Lato', sans-serif;
}
input#j_idt109\:reset {
    height: 100% !important;
    padding: 5px;
}
span#j_idt14\:_t90 > li > ul.scroll, span#j_idt14\:_t42 > li > ul.scroll {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}
/*Overflow*/
.faw-breadcrumb p {
    margin: 0 !important;
}
a#j_idt104\:_t105 {
    width: 85%;
    top: -5px;
    position: relative;
}
div#ruleForm\:linkBttnStatic,
div#ruleForm\:deletelinkBttnStatic {
      width: 20% !important;
    margin: 1% 2%;
    padding: 10px 1px 10px;

}
/*CSP*/
form#j_idt109 .c-select {
    padding: 0 !important;
}
form#j_idt109 .c-select select {
    color: #999999 !important;
    border-color: #cccccc !important;
}
i.fa-2x:before {
    left: 10px !important;
    vertical-align: -3px;
    display: inline-block;
    position: relative;
    padding-bottom: 2.5% !important;
    padding-top: 2.5% !important;
	    color: #fff;
}

/*Biller Types Fees*/
div#id\:button1, div#id\:button2, div#id\:button3, div#id\:button4 {
    position: relative;
    width: 100%;
    display: inline-block;
}
span.fa.fa-circle-o.fa-lg {
    vertical-align: 1px !important;
}
div#id\:button1, div#id\:button2, div#id\:button3, div#id\:button4 {
    display: flex;
    position: relative;
    top: 10px;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    /* flex-direction: row; */
    font-size: 90%;
}
/*Biller */
div#j_idt109\:manageBiller_paginatorbottom select {
    padding: 0 !important;
    margin: 0 !important;
}
span#id\:Biller, span#billtypeform\:Service, span#billtypeform\:Biller, span#j_idt109\:_t119,
span#j_idt109\:BTC,
#j_idt109\:Range,
#j_idt109\:Service,
#j_idt109\:Biller,
#j_idt109\:Range,
span#ruleForm\:AmountRange,
form#j_idt109 .c-select,
span#id\:CSP,
#id\:Channel,
#id\:Profile {
    height: inherit;
    width: 100% !important;
    border: none !important;
    /* padding: 0 !important; */
}
span#ruleForm\:AmountRange, span#id\:CSP,
#id\:Channel, #id\:Profile{
	paddding: 0 !important;
}
span.c-select select{
color: #999;
}
span.c-select {
    height: inherit;
    width: 100% !important;
    /* border: none !important; */
    padding: 0 !important;
}
#id\:_t114 {
    margin-left: 5% !important;
    margin-right: 5%;
}

#id\:_t114, div#id\:_t116  {
    width: 95%;
}
span#j_idt109\:_t119 {
	padding: 0 !important;
}
span#j_idt109\:_t119 select {
    /* width: 100% !important; */
    border-color: #cccccc !important;
    color: #999999 !important;
}
/*Biller End*/
/*tabels*/
thead#j_idt109\:manageService_header tr th span {
    color: #fcf8e3;
    font-weight: 600;
}
div#j_idt109\:manageService table a {
    width: 80%;
    padding: .5% 0 .5% 0;
    color: rgb(255,255,255);
    font-weight: normal;
}
div#j_idt109\:manageService table {
    font-family: 'Lato', sans-serifsans-serif;
    font-size: 115%;
    padding: 0 !important;
    margin: 0 !important;
}
thead#j_idt109\:manageService_header tr th /*manageServiceCtegory*/{
    background: rgb(48, 159, 204) !important;
    background-image: none !important;
    color: rgb(0,0,0) !important;
}
div#j_idt109\:manageService_paginatorbottom {
    width: 100% !important;
    float: left;
    display: inline-block;
    background-image: none !important;
}
/*tabels end*/
label {
    color: #006792;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-top: 12px;
}
/*Add serviceButtons*/
#id\:_t112 {
    width: 80% !important;
}
.opc_btn_cancel .ui-state-default, .opc_btn_cancel .ui-widget-content, .opc_btn_cancel .ui-widget-header, .opc_btn_cancel .ui-state-default {
    border: none !important;
}
div#j_idt109\:_t133,
#j_idt109\:_t128,
#j_idt110\:_t123,
#j_idt110\:_t126,
#j_idt110\:_t128,
#j_idt109\:_t125,
#j_idt109\:_t128, 
#j_idt109\:_t130,
div#ruleForm\:_t203,
div#ruleForm\:reset,
div#ruleForm\:_t208,
#j_idt109\:_t139,
#j_idt109\:_t142,
#j_idt109\:_t145,
#formId\:add,
#formId\:reset,
#formId\:_t241,
div#j_idt109\:_t196,
div#j_idt109\:_t198,
div#j_idt109\:_t200,
div#form1\:_t142,
div#form1\:_t144,div#form1\:_t146,
div#form1\:_t175,
div#form1\:_t179,
div#form1\:_t177,
div#j_idt109\:_t120,
input#j_idt109\:reset,
div#j_idt109\:_t123,
div#j_idt109\:formSubmit,
div#j_idt109\:_t132,
div#j_idt109\:_t134,
div#j_idt109\:_t131,
div#j_idt109\:_t136,
div#j_idt109\:_t138 { 
    width: 100% !important;
}
select.ui-paginator-rpp-options {
    padding: 0 !important;
}
button#j_idt109\:export, #button#j_idt109\:dataExporter {
        position: relative;
    width: 60%;
    display: inline-block;
    float: left;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 1.5%;
    padding: .5% 0 .5% 0;
}

div#ruleForm\:_t208, div#ruleForm:_t203, div#ruleForm\:reset, #j_idt109\:formSubmit, #j_idt109\:_t136, #j_idt109\:_t138,#j_idt110\:_t123, #j_idt110\:_t126, #j_idt110\:_t128, #j_idt109\:_t125, #j_idt109\:_t130, #id\:_t114, #id\:_t116, #id\:_t112, #j_idt109\:_t128, #j_idt109\:_t130, #j_idt109\:_t139,
#j_idt109\:_t142,
#j_idt109\:_t145,
#formId\:add,
#formId\:reset,
#formId\:_t241,
div#j_idt109\:_t196,
div#j_idt109\:_t198,
div#j_idt109\:_t200,
div#form1\:_t142,
div#form1\:_t144,div#form1\:_t146,
div#form1\:_t175,
div#form1\:_t179,
div#form1\:_t177,
div#j_idt109\:_t120,
input#j_idt109\:reset,
div#j_idt109\:_t123,
div#j_idt109\:formSubmit,
div#j_idt109\:_t132,
div#j_idt109\:_t134,
div#j_idt109\:_t131,
div#j_idt109\:_t133{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #fff;
}
div#j_idt109\:_t133 button {
    border-color: #d9534f !important;
}

#j_idt110\:_t123,
#j_idt110\:_t126,
#j_idt109\:_t125,
#id\:_t112 {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

/*Add ServiceButtons End*/
/*Context */

label.form-control-label {
    margin-top: 11px !important;
}
/*Context End*/
/*--July--*/
span#id\:Service/*BillerOrderManagment*/,
.ui-widget-content {
    /* background: none !important; */
    border: none !important;
}
.faw-section-heading h3 {
    position: relative;
   /*  width: 100% !important; */
    display: inline-block;
    /* float: left; */
    left: 20px;
}
ul.faw-menu-down {
    padding: 0;
    height: 0;
    overflow: auto;
    /* opacity: 0; */
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}
ul.faw-menu-down a {
    /*font-size: 100%;*/
    
    font-size: 130%;
    margin: 0;
    padding: 0;
}
ul.faw-menu-down li {
    padding: 5% 0 5% 0;
    margin: 0;
}
ul.faw-nav-items li a {
    padding: 5% 0 5% 0;
    font-size: 15px;
    margin: 0;
}

/*.faw-sidebar .faw-nav-items li:first-child {
margin-top: 10px;
color: #555 !important;
padding: 2.5% 2.5% 2.5% 2.5% !important;
border-radius: 6px !important;
background-color: #fff !important;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0.075) !important;
box-shadow: inset 0 1px 1px rgba(0,0,0.075) !important;
-webkit-transition: border-color ease-in-out .15s,
-webkit-box-shadow ease-in-out .15s !important;
-o-transition: border-color ease-in-out .15s,
box-shadow ease-in-out .15s !important;
transition: border-color ease-in-out .15s,
box-shadow ease-in-out .15s !important;
}*/

/* contextdashboard begin */
/* form/:j_idt115 */
div#form\:j_idt115 {
    background: none !important;
    border: none !important;
}
label , label#form\:_t113 {
    /* padding-top: 2.5%; */
    color: #006792;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    /* margin-top: 20px; */
}
/*#form:radi1 contextdashboard*/
select, select#form\:radio1, select#id\:Service_input /*Biller Oreder Management*/ {
    background: #fff !important;
    color: rgb(85, 85, 85) !important;
    padding: 2.5% 2.5% 2.5% 2.5% !important;
    border-radius: 6px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    font-family: 'Lato', sans-serif !important;
    font-weight: normal !important;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/*contextdashboard end*/
/*--loginpage--*/

fieldset.form-group span input {
    background-color: #fff !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
fieldset input:focuse {
    background-color: #fff !important;
    border-color: #66afe9 !important;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6) !important;
}
.faw-login-container button {
    font-weight: 400;
    font-size: 100% !important;
    line-height: 40px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: background-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.faw-login-container button:hover {
    background-color: rgba(119, 119, 119, 0.2);
}
/*--loginpage end--*/

/*2change-6*/
span .fa .fa-circle-o .fa-lg{
    color: #309fcc;
}
span .fa .fa-dot-circle-o .fa-lg {
    color: #309fcc;
}
span .fa .fa-square-o .fa-lg {
    color: #309fcc;
}
form #billtypeform {
    padding: 30px 20px;
    /* display: initial;
}
div #billtypeform:_t112{
margin-left : 50% !important;

}
.faw-header-actions {
    width: 50% !important;
    display: inline-block !important;
    float: left !important;
    margin-top: 2% !important;
    padding-right: 10% !important;
    padding-left: 10% !important;
}
p.faw-breadcrumb {
    margin-bottom: 0px !important;
}
i.fa.fa-hand-paper-o.fa-2x:before {
    content: "\f013";
    font-size: 80%;
    vertical-align: 2%;
}
.faw-custom-btn {
    width: 50% !important;
    font-size: 100% !important;
    padding: 5px !important;
    margin-right: 0 !important;
    color: rgb(255, 255, 255) !important;
}
select {
    width: 100% !important;
    background-image: none !important;
    border-radius: 0px !important;
    background-color: #ffffff !important;
    border: none !important;
    height: auto !important;
    color: #999999 !important;
    padding-top: !important;
}

.fa-stack-2x{
    color: #006792;
}

.no-padding{
    padding: 0 !important;
}

.faw-content .faw-custom-btn{
    width: 100%;
}

.input-lg{
   font-size: 16px;
   font-family: 'Lato', sans-serif;
}
/*2change-6*/
.btn-group-lg>.btn, .btn-lg {
    font-size: 20px !important;
    font-family: 'Lato', sans-serif;
    font-weight: 900 !important;
    width: 100% !important;
    padding: 10px 16px;
    line-height: 2.5em !important;
    border-radius: 6px !important;
}

label
{
    color: #006792;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-top: 12px;
}

.form-control:focus{
    border-color: #309fcc;
    box-shadow: none;
}

/*---------- Login----------*/

.body-bg{
    background: #006792;
    overflow-y: hidden;
}
          
.faw-wrapper .faw-logo{
    margin: 100px 0 50px 0;
}
          
.faw-login-container{
    background: #fff;
    min-height: 200px;
}
          
.faw-login-container .faw-login-heading{
    background: #309fcc;
    height: 50px;
}
          
.faw-login-container .faw-login-heading h4{
    margin: 0;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
          
.faw-login-container .faw-login-btn{
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
          
.faw-login-container .faw-form{
    padding: 30px;
}
          
.faw-wrapper .faw-copyrights{
    margin-top: 50px;
    color: #fff;
}

.faw-copyrights p{
    color:#fff;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

/*---------- Sidebar----------*/

.faw-sidebar{
    background: #006792;
    position: fixed;
    height: 100%;
    width: 270px;
    z-index: 1;
    /*overflow-y: hidden; 16/8/2016*/
    overflow: auto;
    opacity: 1;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.faw-sidebar .faw-logo{
    text-align: center;
    margin: 30px 0;
}

.faw-sidebar .faw-nav-items{
    list-style-type: none;
    padding: 0;
}

.faw-sidebar .faw-nav-items li{
    border-top:1px solid rgba(255,255,255,.3);
    padding: 15px 0;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.faw-sidebar .faw-nav-items li:last-child{
    border-bottom:1px solid rgba(255,255,255,.3);
}

.faw-sidebar .faw-nav-items li:hover{
    background: #00384f;
}

.faw-sidebar .faw-nav-items li i{
    color: #fff;
    margin:0 10px 0 20px;
    line-height: 4px;
}

.faw-sidebar .faw-nav-items li a{
    color: #fff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.faw-sidebar .faw-nav-items li a:hover{
    text-decoration: none;
}

.faw-sidebar .faw-nav-items li .faw-menu-down{
    padding: 0;
    height: 0;
    overflow: auto;
    opacity: 0;
     -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    
}

.faw-sidebar .faw-nav-items li .faw-menu-down li{
    padding: 15px 0;
    border-top:1px solid rgba(255,255,255,.3);
}

.faw-sidebar .faw-nav-items li .faw-menu-down li:first-child{
    margin-top: 15px;
}


.faw-sidebar .faw-nav-items li .faw-menu-down li a{
    color: #fff;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}


.faw-sidebar .faw-nav-items li:hover > .faw-menu-down{
    height: 215px;
    opacity: 1;
}

.faw-sidebar .faw-copyrights{
    margin-top: 170px;
}

.faw-sidebar .faw-copyrights p{
    color:#fff;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

/*---------- Main Content----------*/

.faw-main{
    padding: 30px 0 30px 270px;
    height: 100%;  
    width: 100%;
    position: absolute;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

/*---------- Header----------*/

.faw-header .faw-header-left .faw-sidebar-toggle{
    float: left;
}

.faw-header .faw-header-left .faw-info{
    margin-left:50px;
}

.faw-header .faw-header-left .faw-info i{
    color:#309fcc;
}

.faw-header .faw-header-left .faw-info .faw-title,
.faw-header .faw-header-left .faw-info .seperator{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #006792;
}

.faw-header .faw-header-left .faw-info .faw-day-date i{
    margin-right: 10px;
}

.faw-header .faw-header-left .faw-info .faw-day-date,
.faw-header .faw-header-left .faw-info .faw-breadcrumb{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color:#309fcc;
}

.faw-header .faw-header-right{
    text-align: right;
}

.faw-header .faw-header-right .faw-header-actions{
    display: inline-block;
}

.faw-header .faw-header-right .faw-logout-btn .faw-custom-btn{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    border-radius:6px; 
    text-align: center;
}

#faw-wrapper.toggled .faw-sidebar{
    width:0;
    opacity: 0;
}

#faw-wrapper.toggled .faw-main{
    padding-left: 0;
}


/*---------- Content----------*/

.faw-content{
    padding: 30px 0;
    background: #f9f9f9;
}

.faw-content .faw-section{
    background: #fff;
    min-height: 257px;
    border:1px solid #ccc;
}

.faw-content .faw-section .faw-section-heading{
    height:50px;
    background: #309fcc;
}

.faw-content .faw-section .faw-section-heading i{
    float: left;
    color: #fff;
    line-height: 50px;
    margin:0 10px 0 20px;
}

.faw-content .faw-section .faw-section-heading .faw-section-title{
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 50px;
}

.faw-content .faw-section .faw-section-content{
    padding: 30px 20px;
}

.faw-user-details .faw-user-name{
    margin: 0;
    color: #006792;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.faw-user-details .faw-user-title{
    margin: 10px 0 20px 0;
    color: #309fcc;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.faw-statistics-category .faw-statistics-icon span{
    display: block;
    width:64px;
    height: 64px;
    background: #a54eff;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    color: #fff;
    float: left;
    margin-right: 20px;
}

.faw-statistics-category .faw-statistics-info{
    margin-bottom: 30px;
}

.faw-statistics-category .faw-statistics-info .faw-statistics-count{
    color: #309fcc;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.faw-statistics-category .faw-statistics-info .faw-statistics-title{
    color: #006792;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.faw-action-shortcut{
    border: 2px dashed #006792;
    background: #fff;
    height: 230px;
    line-height: 230px;
    text-align: center;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

.faw-action-shortcut:hover{
    background: #006792;
}

.faw-action-shortcut:hover i{
    color: #fff;
}

.faw-action-shortcut i{
    color:#006792;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

.faw-action-title{
    color: #309fcc;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 20px 0 30px 0;
}

.faw-content .faw-section .faw-section-content .faw-single-item .faw-item-icon{
    background: #006792;
    height: 230px;
    line-height: 230px;
    text-align: center; 
}

.faw-content .faw-section .faw-section-content .faw-single-item  .faw-info-heading{
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
}

.faw-content .faw-section .faw-section-content .faw-single-item  .faw-info-heading h3{
    margin: 0;
    color: #006792;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.faw-content .faw-section .faw-section-content .faw-single-item .table th,
.faw-content .faw-section .faw-section-content .faw-single-item .table td{
    border: 0;
    padding: 15px 0;
}

.faw-content .faw-section .faw-section-content .faw-single-item .table th{
    color: #fff;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 20px;
}

.faw-info-heading + .table th{
    color: #006792 !important;
}


.faw-content .faw-section .faw-section-content .faw-single-item .table td{
    color: #309fcc;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    padding: 20px;
}

.faw-content .faw-section .faw-section-content .faw-related-items{
    border-top: 1px solid #ccc;
    padding: 30px 0;
}

.faw-content .faw-section .faw-section-content .faw-related-items .faw-related-single-item,
.faw-content .faw-section .faw-section-content .faw-related-items .faw-related-single-add{
    margin-bottom: 30px;
}

.faw-content .faw-section .faw-section-content .faw-related-items .faw-related-single-add .faw-related-single-icon{
    border:2px dashed #006792;
    height: 230px;
    line-height: 230px;
    text-align: center;
}


.faw-content .faw-section .faw-section-content .faw-related-items .faw-related-single-item .faw-related-single-icon{
    background: #006792;
    height: 230px;
    line-height: 230px;
    text-align: center;
}

.faw-content .faw-section .faw-section-content .faw-related-items .faw-related-single-item .faw-related-single-details ul li{
    color: #006792;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
}

.faw-content .faw-section .faw-section-content .faw-related-items .faw-related-single-item .faw-related-single-details .faw-add-btn .faw-custom-btn{
    margin-top: 0;
}

.faw-content .faw-section .faw-section-content .faw-related-items .faw-related-single-add .faw-related-single-icon{
    color: #006792;
}

.faw-content .faw-section .faw-section-content .faw-related-items .faw-related-single-add .faw-related-single-details{
    line-height: 230px;
}


.panel{
    border: 0;
    box-shadow: none;
}

.panel-default>.panel-heading{
    background: #006792;
    color: #fff;
    height: 50px;
    border-radius: 0;
    padding-left: 20px;
}


.panel-title{
    color: #fff;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 30px;
}

.panel-title a{
    text-decoration: none;
}

.panel-body{
    padding: 30px 20px;
}

.faw-section-options .view-options .grid-view i,
.faw-section-options .view-options .list-view i{
    color: #006792;
    margin-left: 5px;
    line-height: 43px;
}


.faw-grid-items{
    border-top: 1px solid #ccc;
    margin-top: 40px;
    padding-top: 30px;
}

.faw-grid-items .faw-item-container{
    margin-bottom: 30px;
}

.faw-grid-items .faw-item-container .faw-item-icon{
    background: #006792;
    height: 180px;
    line-height: 180px;
    text-align: center; 
}

.faw-grid-items .faw-item-container .faw-item-check{
    line-height: 180px;
}

.faw-grid-items .faw-item-container .item-label{
    color: #006792;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-top: 18px;
}

.faw-pagination .pagination>li>a,.faw-pagination .pagination>li>span{
    border-radius: 50%;
    margin-left: 10px;
    background: #309fcc;
    color: #fff;
    border:0;
}

.pagination>li:first-child>a,.pagination>li:last-child>a{
    background: #fff;
    color: #309fcc;
    border:1px solid #309fcc;
}

.pagination>li.active a{
    background: #006792;
    color: #fff;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.pagination>li.active:hover a{
    background: #309fcc;
    color: #fff;
}


.faw-item-details li{
    color: #006792;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
}

.faw-check-label span{
    margin-left: 20px;
}

.result-table{
    border: 1px solid #f0f0f0;
}

.result-table thead tr th,
.result-table tbody tr td{
    background: #006792;
    color: black;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 15px 10px;
    border-bottom: 1px solid #f0f0f0;
}

.result-table tbody tr td{
    background: #fff;
    color: #006792;
}

.modal-dialog{
    width: 800px !important;
}


.view-history{
    margin-left: 20px;
}


.faw-form-heading{
    color: #006792;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 50px 0;
}

/*---------- Media Queries ----------*/

@media(max-width:1200px){
    .faw-sidebar{
        width: 0;
        opacity: 0;
    }
    
    .faw-sidebar .faw-sidebar-toggle{
        float: right;
        margin: 50px 15px 0 0;
    }
    
    .faw-sidebar .faw-sidebar-toggle-btn{
        color: #fff;
    }
    
    .faw-sidebar .faw-logo{
        text-align: left;
        margin-left: 15px;
    }
    
    .faw-main{
        padding-left: 0;
        overflow-x:hidden; 
    }
    
    #faw-wrapper.toggled .faw-sidebar{
    width:100%;
    opacity: 1;
    }
    
    #faw-wrapper.toggled .faw-main{
        padding-left: 270px;
    }
    
    .faw-content .faw-section .faw-section-content .faw-single-item .faw-item-icon{
        margin-bottom: 20px;
    }
    
        .faw-content .faw-section .faw-section-content .faw-related-items .faw-related-single-item .faw-related-single-details ul{
        margin-top: 20px;
    }
    
    .faw-content .faw-section .faw-section-content .faw-related-items .faw-related-single-add .faw-related-single-details{
        line-height: 120px;
    }
    
}

@media(max-width:992px){
    
    .faw-user-details{
        text-align: center;
        margin-top: 20px;
    }
    
    .faw-section-options .view-options{
        margin-top: 20px;
    }
    
    .faw-section-options .view-options .grid-view i,
    .faw-section-options .view-options .list-view i{
        margin-right: 3px;
    }
    
    .faw-statistics-category .faw-statistics-icon,
    .faw-statistics-category .faw-statistics-info{
        text-align: center; 
    }
    
    .faw-statistics-category .faw-statistics-icon span{
        float: none;
        margin-right: 0;
        display: inline-block;
        width: 64px;
        height: 64px;
        line-height: 64px;
    }
}

@media(max-width:768px){
    
    .faw-custom-btn{
        margin-top: 15px;
    }
    
    .faw-header-right{
        margin-top: 20px;
    }
    
    .faw-header .faw-header-right .faw-header-actions{
        display: block;
    }
    
    .faw-header .faw-header-right .faw-header-actions .faw-user-img,
    .faw-header .faw-header-right .faw-header-actions .faw-notifications,
    .faw-header .faw-header-right .faw-header-actions .faw-messages{
        float: left;
    }
    
    .faw-item-details{
        text-align: center;
        margin-top: 20px;
    }
    
    .faw-statistics-category .faw-statistics-icon span{
        float: none;
        margin-right: 0;
        display: inline-block;
        width: 96px;
        height: 96px;
        line-height: 96px;
    }
    
    
}

@media(max-width:480px){
    .faw-header .faw-header-left .faw-info .seperator{
        display: none;
    }
    
    .faw-header .faw-header-left .faw-info .faw-day-date{
        display: block;
        margin: 5px 0;
    }
    
}

@media(max-width:320px){
    .faw-header .faw-header-right .faw-logout-btn .faw-custom-btn{
        width: 100%;
        margin-bottom: 30px;
    }
    
    .faw-header .faw-header-right .faw-header-actions{
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .faw-header .faw-header-right .faw-header-actions .faw-user-img,
    .faw-header .faw-header-right .faw-header-actions .faw-notifications,
    .faw-header .faw-header-right .faw-header-actions .faw-messages
    {
        float: none;
    }
}
 .scroll{
    	 overflow: scroll !important;
    }
